body {
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: #2ac5b6e7;
}

h1{
  color: #193106;
  background-color: aquamarine;
  text-shadow: 0.5;
}


